version: '3.8' # Specify the version of the Docker Compose file format

services:
  # Database service for instance 1
  db_instance1:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - SA_PASSWORD=NinjaKing@100s00
      - ACCEPT_EULA=Y
    ports:
      - "14330:1433" # Expose port 14330 for the first database
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -U sa -P NinjaKing@100s00 -Q 'SELECT 1' -C" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - C:\Projects\Bulky_28_09_2024:/var/opt/mssql/backup/Bulky_backup

  # Database service for instance 2
  db_instance2:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - SA_PASSWORD=NinjaKing@100s00
      - ACCEPT_EULA=Y
    ports:
      - "14340:1433" # Expose port 14340 for the second database
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -U sa -P NinjaKing@100s00 -Q 'SELECT 1' -C" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - C:\Projects\Bulky_28_09_2024:/var/opt/mssql/backup/Bulky_backup

  # Application instance 1 (connects to db_instance1)
  instance1:
    image: bulkyimage1
    build: .
    ports:
      - "5003:80" # Unique port for instance 1
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db_instance1,1433;Database=Bulky;User Id=sa;Password=NinjaKing@100s00;TrustServerCertificate=True;
    depends_on:
      - db_instance1

  # Application instance 2 (connects to db_instance2)
  instance2:
    image: bulkyimage1
    build: .
    ports:
      - "5004:80" # Unique port for instance 2
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db_instance2,1433;Database=Bulky_1;User Id=sa;Password=NinjaKing@100s00;TrustServerCertificate=True;
    depends_on:
      - db_instance2
