version: '3.8'

services:
  # Database for App Instance 1
  postgres_db1:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Database for Application Instance 2
  postgres_db2:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5435:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Application instance 1
  instance1:
    image: bulkyimage1
    build: .
    restart: on-failure
    ports:
      - "5003:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # Use internal docker networking (port 5432) to connect to db1
      - "ConnectionStrings__DefaultConnection=Host=postgres_db1;Database=Bulky;Username=postgres;Password=postgres;Pooling=False"
    depends_on:
      postgres_db1:
        condition: service_healthy

  # Application instance 2
  instance2:
    image: bulkyimage1
    build: .
    restart: on-failure
    ports:
      - "5004:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # Use internal docker networking (port 5432) to connect to db2
      - "ConnectionStrings__DefaultConnection=Host=postgres_db2;Database=Bulky_1;Username=postgres;Password=postgres;Pooling=False"
    depends_on:
      postgres_db1:
        condition: service_healthy
      postgres_db2:
        condition: service_healthy
