name: Prod/Test Build & Deploy

on:
  push:
    branches: [ "main", "test" ]
  workflow_dispatch:

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Run Unit Tests Only
      # explicitly targeting the Unit Test project to skip UI tests
      run: dotnet test src/BulkyBook.Tests/BulkyBook.Tests.csproj

    - name: Deploy to Render (Test)
      if: github.ref == 'refs/heads/test' && success()
      run: |
        if [ -n "${{ secrets.RENDER_DEPLOY_HOOK_TEST }}" ]; then
           curl "${{ secrets.RENDER_DEPLOY_HOOK_TEST }}"
        else
           echo "Render Test Deploy Hook secret not found. Skipping deploy."
        fi

    - name: Deploy to Render (Prod)
      if: github.ref == 'refs/heads/main' && success()
      run: |
        if [ -n "${{ secrets.RENDER_DEPLOY_HOOK_PROD }}" ]; then
           curl "${{ secrets.RENDER_DEPLOY_HOOK_PROD }}"
        else
           echo "Render Prod Deploy Hook secret not found. Skipping deploy."
        fi
